   
 
  body,ul,img,p,h1,h2
  {
      padding: 0;
      margin: 0;
      font-family: sans-serif;
  }

  /* Background img truck */

  .bgimg
  {
      background-image: url("../images/box.jpg");
      height: 94vh;
      width: 100%;
      background-size: cover;
  }

  /* Left-Window-Horizontal-menu */
  
  .left_menu
  {
    background-color: white;
    background-size: cover;
    width: 8vh;
    height: 94vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .gridm {
    width: 40px;
    height: 40px;
    transform: translate(18px, -170px);
}

    .callic {
    width: 40px;
    height: 40px;
    transform: translate(18px, -400px);
}

    .ficon {
    font-size: 30px;
    transform: rotate(270deg);
    color: #EB3F57;
}

                                                  /* Header */
  .control
  {
      max-width: 1324px;
      margin: 0 auto;
      
      height: 30px;
  }

                                          
                                                 
  /* For <p> Canavra <p> header */


  /* Navbar */
  .navbar ul li
  {
      text-decoration: none;
      list-style: none;
      display: inline;
      float: right; 
      padding: 0px 15px 0px 10px;
   
  }


  .navbar a
  {
      text-decoration: none;
      color: #ffff;
      font-family: monospace;
      font-size: 20px;
      
  }  

  /* Left logo header */
  .left
  {
      float: left;
      color:#ffff;
      font-family: sans-serif;
      font-size:18px;
  }  

  .header_logo    
  {
      padding-top: 20px;
  }

  .buton input
  {
      cursor: pointer;
      background-color: #EB3F57;
      color: #fff;
      border: none;
      padding: 7px 14px 7px 14px;
      border-radius: 20vh;
  }

  .login  input
  {
      cursor: progress;
      background-color: transparent;
      color: #fff;
      border: 2px solid #EB3F57;
      padding: 5px 10px 5px 10px;
      border-radius: 20vh;
  }

  .hr
  {
      padding-top: 40px;
      border-bottom: 1px solid #EB3F57;
      margin-bottom: 60px;
  }
 
                                                   /* </ HEADER > */                                     
    
                                                   /*  Background img items right book*/

  .right_book
  {
      background-color: white;
      width: 30vh;
      height: 16vh;
      float: right;
      margin-top: 110px;
      padding: 40px 30px 60px 30px;
      color: #fff;
  }

  .right_book p {
      color: black;

  }

                                                  /* Right inputs  */

  .right_book :nth-child(2) 
  {
  border: none;
  background-color: transparent;
  color: rgb(192, 190, 200);
  cursor: pointer;
  padding-left: 40px; 
  }

  .serch input
  {
      padding: 10px 30px 10px 30px ;
      border: none; 
      background-color: #EB3F57;
      color: #fff;
      cursor: progress;
  }
  
  .enter input
  {
  
      background-color: transparent; 
      border: none;
      border-bottom: 3px solid #EB3F57;
      border-bottom-right-radius: 17px;
      
  }
  ::placeholder
  {
      color: rgb(209, 208, 213);
  }




                                               /* </ Right inputs >  */

                                               /* left paragraph */

  .img_left   
  {
      padding-top: 100px;
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-family:sans-serif
  }                                         

  .left_video img
  {
      padding-top: 190px;
  
  }

  .left_video b
  {
      

      color: #fff;
      font-size: 20px;
    
  }
 
  .zabi
  {
      padding-top: 300px;
      
  } 

  .left_menu p
  {
      font-size: 16px;
      color: #EB3F57;
      padding-top: 447px;
      padding-left: 20px;
      
  }
  .left_menu img{
      padding-top: 90px;
  }